@font-face {
    font-family: 'Dancing';
    src: url("../fonts/DancingScript-Regular.ttf")
}

@font-face {
    font-family: 'Overlock';
    src: url("../fonts/Overlock-Regular.ttf")
}

body a {
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

/*--header--*/

.hero-background {
    background: url("../images/banner-1600-80.webp") center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: grey;
}

.hero .navbar {
    background-color: rgba(121, 119, 119, 0.49);
}

.navbar-item:hover {
    transform: rotatey(360deg);
    -webkit-transform: rotatey(360deg);
    -o-transform: rotatey(360deg);
    -moz-transform: rotatey(360deg);
    -ms-transform: rotatey(360deg);
    transition: .5s all;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

.bnr-text {
    margin: 34em 0 1em 3em;
}

.bnr-text h4 {
    font-size: 6em;
    font-family: 'Dancing', cursive;
}


/*--//header--*/

/*-- contact --*/

.contact {
    padding: 5em 0;
}

.contact-top {
    margin-top: 4%;
}

#successmsg {
    border: 1px solid #fff;
    display: none;
    text-align: center;
    padding: 15px 12px 15px;
    margin: 10px 0;
    font-weight: 600;
    margin-bottom: 30px;
}

#successmsg.show, .show {
    display: block;
}
/*-- //contact --*/

/*----copy-right----*/

.copy-right {
    text-align: center;
    padding: 2em 0;
    background: #000;
}

.copy-right p {
    font-size: 1em;
    color: #9E9C9C;
    text-transform: capitalize;
}

.copy-right p a {
    color: #fff;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

.copy-right p a:hover {
    color: #FFF;
    text-decoration: underline;
}

/*--- //copy-right ----*/

/*--slider-up-arrow--*/

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 3%;
    right: 3%;
    overflow: hidden;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url("../images/move-up.png") no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*--//slider-up-arrow--*/

/*---- responsive-design -----*/

@media(max-width:1080px) {
    .contact {
        padding: 4em 0;
    }
    .bnr-text {
        margin: 23em 0 1em 3em;
    }
    .bnr-text h4 {
        font-size: 4em;
    }
}

@media(max-width:991px) {
    .bnr-text {
        margin: 23em 0 1em 3em;
    }

    .bnr-text h4 {
        font-size: 3em;
    }
    .contact {
        padding: 3em 0;
    }
    h3.title {
        margin-bottom: 0.8em;
    }
}

@media(max-width:768px) {
    h3.title {
        font-size: 2.6em;
    }
}

@media(max-width:640px) {
    .bnr-text {
        margin: 20em 0 1em 1em;
    }
    .bnr-text h4 {
        font-size: 2.5em;
    }
    h3.title {
        font-size: 2.2em;
    }

    .contact {
        padding: 2.5em 0;
    }
}

@media(max-width:480px) {
    .bnr-text {
        margin: 27em 0 1em 1em;
    }
    .bnr-text h4 {
        font-size: 1.8em;
    }

    .contact {
        padding: 2em 0;
    }
    h3.title {
        margin-bottom: 0.6em;
    }
    .copy-right {
        padding: 1.5em 0;
    }
    .copy-right p {
        font-size: .9em;
    }
}

@media(max-width:320px) {
    .bnr-text {
        margin: 14em 0 0 0;
    }
    .bnr-text h4 {
        font-size: 1.8em;
        margin: auto;
    }
    .contact {
        padding: 1.5em 0;
    }
    h3.title {
        font-size: 2em;
    }
    p {
        width: 84%;
    }
}

/*--//responsive-design---*/