/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

body {
    margin: 0;
    font-family: 'Roboto-Regular';
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Marvel-Regular';
    src: url(../fonts/Marvel-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Marvel-Bold';
    src: url(../fonts/Marvel-Bold.ttf) format('truetype');
}

body a {
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul,
label {
    margin: 0;
    padding: 0;
}

body a:hover {
    text-decoration: none;
}

.banner {
    background: url(../images/banner.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 700px;
    position: relative;
}


/*--header--*/

.header {
    padding: .8em 0;
    background-color: rgba(121, 119, 119, 0.49);
}

.navbar-brand {
    height: 0;
    padding: 0;
    line-height: inherit;
    font-size: 0px;
}

.navbar-brand h1 a {
    font-size: 1.7em;
    display: block;
    font-family: 'Dancing Script', cursive;
    color: rgb(252, 252, 252);
    line-height: 0.9em;
}

.home-social {
    display: inline-block;
    float: right;
    margin: 1em 0;
}

.home-social ul li {
    display: inline-block;
    margin-right: 22px;
}

.home-social ul li a {
    /*background: url(../images/i1.png)no-repeat 0px 0px;*/
    color: #fff;
    display: block;
    width: 25px;
    height: 25px;
    transition: none;
}

.home-social ul li a:hover {
    transform: rotatey(360deg);
    -webkit-transform: rotatey(360deg);
    -o-transform: rotatey(360deg);
    -moz-transform: rotatey(360deg);
    -ms-transform: rotatey(360deg);
    transition: .5s all;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

.bnr-text {
    text-align: left;
    margin: 40em 3em 0;
    width: 50%;
}

.bnr-text h2 {
    font-size: 3em;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    /*
    font-family: 'Courgette', cursive;

    font-family: 'Zeyada', cursive;

    font-family: 'Engagement', cursive;
*/
}

.bnr-text h4 {
    font-size: 3em;
    color: #fff;
    margin: 1em 0 1.5em;
    font-family: 'Dancing Script', cursive;
}

a.more {
    font-size: 1em;
    color: #fff;
    border: 3px solid #fff;
    padding: 1em 3em;
}


/*--//header--*/


/*--gallery--*/

.gallery {
    padding: 5em 0;
}

.gallery-grids-info.glry-left {
    width: 58.24%;
    float: left;
}

.gallery-grids-info.glry-right {
    float: right;
    width: 41.76%;
}

.gallery-grids-info {
    padding: 0;
}

.gallery-grids-info img {
    width: 100%;
}

.gallery a {
    overflow: hidden;
    position: relative;
    display: block;
}

.gallery-grids-info.glry-btm p {
    width: 81%;
}


/*--//gallery--*/


/*-- contact --*/

.contact {
    padding: 5em 0;
}

.contact-top {
    margin-top: 4%;
}

.contact-top-left iframe {
    width: 100%;
    height: 500px;
    border: 0;
}

.contact-textarea input[type="text"] {
    width: 100%;
    color: rgba(137, 136, 136, 0.66);
    outline: none;
    font-size: 14px;
    padding: 18px 16px;
    border: none;
    margin-bottom: 1em;
    -webkit-appearance: none;
    background: none;
    border: 1px solid rgba(153, 153, 153, 0.35);
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
}

.contact-textarea textarea {
    resize: none;
    width: 100%;
    color: rgba(137, 136, 136, 0.66);
    font-size: 14px;
    outline: none;
    padding: 18px 16px;
    border: none;
    min-height: 15em;
    -webkit-appearance: none;
    background: none;
    border: 1px solid rgba(153, 153, 153, 0.35);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}

.contact-textarea input[type="submit"],
.contact-textarea input[type="reset"] {
    border: none;
    outline: none;
    color: #fff;
    background: #19B0A9;
    width: 48%;
    padding: 15px 31px;
    font-size: 18px;
    margin: 10px 2px 0px 6px;
    -webkit-appearance: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}

.contact-textarea input[type="submit"]:hover,
.contact-textarea input[type="reset"]:hover {
    background: #70C291;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}


/*-- //contact --*/


/*---footer-----*/

.footer {
    background: #3a3a3a;
    padding: 4em 0;
}

.footer-grid {
    float: left;
    width: 23%;
    margin-right: 2%;
}

.footer-grid h3.title {
    font-size: 2.5em;
    text-align: left;
    color: #70C291;
    margin-bottom: 1em;
}

.footer-grid p {
    font-size: 1em;
    color: #9E9C9C;
    line-height: 1.8em;
    margin-bottom: 0.5em;
}

.footer-grid ul li {
    list-style-type: none;
}

.footer-grid ul li a {
    display: block;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(78, 77, 77);
    font-size: 14px;
    color: #9E9C9C;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    text-decoration: none;
}

.footer-grid a:hover {
    color: #19B0A9;
    text-decoration: none;
}

.footer-lastgrid {
    margin: 0;
}

.email-link {
    color: #FFF;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    text-transform: lowercase;
}


/*---//footer-----*/


/*---start-copy-right-----*/

.copy-right {
    text-align: center;
    padding: 2em 0;
    background: #000;
}

.copy-right p {
    font-size: 1em;
    color: #9E9C9C;
    text-transform: capitalize;
}

.copy-right p a {
    color: #fff;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

.copy-right p a:hover {
    color: #FFF;
    text-decoration: underline;
}

.footer-grd {
    float: left;
    width: 33.33%;
    border: 2px solid #fff;
}

.footer-grd a {
    display: block;
}


/*--- //footer ----*/


/*--slider-up-arrow--*/

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 3%;
    right: 3%;
    overflow: hidden;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url("../images/move-up.png") no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}


/*--//slider-up-arrow--*/


/*---- responsive-design -----*/

@media(max-width:1080px) {
    .banner {
        min-height: 650px;
    }
    .gallery,
    .contact {
        padding: 4em 0;
    }
    h3.title {
        font-size: 3.5em;
        margin-bottom: 0.8em;
    }
    .servc-grid-right {
        padding: 0;
    }
    .bnr-text h2 {
        font-size: 3.2em;
    }
    .bnr-text h4 {
        font-size: 1.8em;
    }
    .gallery-grids-info.glry-right p {
        width: 100%;
    }
    .contact-textarea input[type="submit"],
    .contact-textarea input[type="reset"] {
        width: 47.7%;
    }
    .footer-grid h3.title {
        font-size: 2.3em;
        margin-bottom: 0.5em;
    }
}

@media(max-width:991px) {
    .banner {
        min-height: 550px;
    }
    .bnr-text h2 {
        font-size: 3em;
    }
    .bnr-text {
        margin: 3em 3em 0;
        padding: 2em 0 5em;
        width: 55%;
    }
    a.more {
        border: 2px solid #fff;
        padding: 0.8em 2em;
    }
    .bnr-text h4 {
        margin: 0.5em 0 1.5em;
    }
    .gallery,
    .contact {
        padding: 3em 0;
    }
    h3.title {
        margin-bottom: 0.8em;
    }
    .servc-grids:nth-child(3) {
        margin: 4em 0;
    }
    .servc-grids:nth-child(2) {
        margin: 3em 0;
    }
    .servc-grid {
        float: left;
        width: 50%;
        padding: 0;
    }
    .servc-grid-left span.glyphicon {
        font-size: 2.8em;
    }
    .servc-grid-right {
        padding: 0;
    }
    .gallery-grids-info.glry-left {
        width: 58.2%;
    }
    .gallery-grids-info.glry-right {
        width: 41.75%;
    }
    .gallery-grids-info.glry-btm {
        float: left;
        width: 32%;
    }
    .contact-top-left {
        float: left;
        width: 50%;
        padding-left: 0;
    }
    .contact-top-right {
        float: right;
        width: 50%;
        padding-right: 0;
    }
    .contact-textarea input[type="submit"],
    .contact-textarea input[type="reset"] {
        font-size: 15px;
        margin: 10px 2px 0 3px;
    }
    .footer {
        padding: 3em 0;
    }
    .footer-grid h3.title {
        font-size: 2.1em;
    }
    .footer-grid:nth-child(4) {
        margin: 0;
        padding: 0;
    }
}

@media(max-width:768px) {
    .navbar-brand h1 a {
        font-size: 1.6em;
        line-height: 1em;
    }
    .bnr-text {
        padding: 2.5em 0 4em;
        width: 70%;
    }
    h3.title {
        font-size: 2.6em;
    }
    .footer-grid h3 {
        font-size: 2.1em;
    }
}

@media(max-width:640px) {
    .home-social ul li {
        margin-right: 18px;
    }
    .bnr-text h2 {
        font-size: 2.8em;
    }
    .bnr-text h4 {
        font-size: 1.6em;
    }
    h3.title {
        font-size: 2.2em;
    }
    a.more {
        border: 1px solid #fff;
        padding: 0.8em 1.5em;
    }
    .banner {
        min-height: 500px;
    }
    .gallery,
    .contact {
        padding: 2.5em 0;
    }
    .servc-grids:nth-child(3) {
        margin: 3em 0;
    }
    .gallery-grids-info.glry-left {
        width: 58.25%;
    }
    .gallery-grids-info.glry-right {
        width: 41.75%;
    }
    .gallery-grids-info.glry-right p {
        width: 88%;
    }
    /*
                                            .gallery-grids-info {
                                                float: none;
                                                width: 100%;
                                            }
    .gallery-grids-info.glry-btm p {
        width: 95%;
    }
    */
    .servc-grid-left {
        text-align: right;
    }
    .servc-grid-left span.glyphicon {
        font-size: 2.3em;
    }
    .contact-textarea input[type="text"] {
        font-size: .9em;
        padding: 11px 16px;
    }
    .contact-textarea input[type="email"] {
        font-size: .9em;
        padding: 11px 16px;
    }
    .contact-textarea textarea {
        min-height: 13em;
        padding: 11px 16px;
    }
    .contact-textarea input[type="submit"],
    .contact-textarea input[type="reset"] {
        font-size: 13px;
        padding: 10px 31px;
    }
    .contact-textarea input[type="submit"],
    .contact-textarea input[type="reset"] {
        width: 47%;
    }
    .contact-top-left iframe {
        height: 400px;
    }
    .footer-grid h3.title {
        font-size: 1.9em;
    }
    .footer {
        padding: 3em 0 1em;
    }
    .footer-grid {
        width: 40%;
        margin: 0 10% 8% 0;
    }
}

@media(max-width:480px) {
    .home-social ul li {
        margin-right: 12px;
    }
    .navbar-brand h1 a {
        font-size: 1.4em;
        padding: 4px 0 0;
    }
    .banner {
        min-height: 425px;
    }
    .bnr-text {
        padding: 1.5em 0 2em;
        width: 79%;
        margin: 7em auto 0;
    }
    .bnr-text h2 {
        font-size: 2.2em;
    }
    .bnr-text h4 {
        font-size: 1.3em;
    }
    a.more {
        padding: 0.6em 1.2em;
    }
    .gallery,
    .contact {
        padding: 2em 0;
    }
    h3.title {
        margin-bottom: 0.6em;
    }
    .servc-grid {
        width: 100%;
        margin-bottom: 2em;
    }
    .servc-grids:nth-child(2) {
        margin: 0;
    }
    .servc-grid-left {
        width: 20%;
        text-align: left;
    }
    .servc-grids:nth-child(3) {
        margin: 0;
    }
    .gallery-grids-info.glry-btm {
        width: 50%;
    }
    .gallery-grids-info.glry-right p,
    .gallery-grids-info.glry-btm p {
        width: 66%;
    }
    .contact-top-left {
        float: none;
        width: 100%;
        padding: 0;
    }
    .contact-top-left iframe {
        height: 200px;
    }
    .contact-top-right {
        float: right;
        width: 100%;
        padding: 0;
        margin-top: 2em;
    }
    .copy-right {
        padding: 1.5em 0;
    }
    .copy-right p {
        font-size: .9em;
    }
}

@media(max-width:320px) {
    .banner {
        min-height: 350px;
        background-position: -20px 0px;
    }
    .navbar-brand h1 a {
        font-size: 1.3em;
        padding: 0;
    }
    .home-social {
        margin: 0.9em 0 0;
    }
    .home-social ul li {
        margin-right: 10px;
    }
    .home-social ul li:nth-child(4) {
        margin-right: 0;
    }
    .bnr-text h2 {
        font-size: 1.8em;
    }
    .bnr-text h4 {
        font-size: 1em;
    }
    .bnr-text {
        width: 92%;
        margin: 5.5em auto 0;
    }
    a.more {
        font-size: 0.9em;
    }
    .gallery,
    .contact {
        padding: 1.5em 0;
    }
    h3.title {
        font-size: 2em;
    }
    .servc-grid {
        margin-bottom: 1em;
    }
    .servc-grid-left {
        width: 15%;
        padding: 0 15px 0 0;
    }
    .servc-grid-left span.glyphicon {
        font-size: 1.8em;
    }
    .servc-grid-right {
        width: 85%;
    }
    .gallery-grids-info.glry-right p,
    .gallery-grids-info.glry-btm p {
        width: 84%;
    }
    .contact-textarea input[type="text"] {
        font-size: .9em;
        padding: 9px 16px;
    }
    .contact-textarea input[type="email"] {
        font-size: .9em;
        padding: 9px 16px;
    }
    .contact-textarea textarea {
        min-height: 10em;
        padding: 11px 16px;
    }
    .footer {
        padding: 2em 0 1em;
    }
    .footer-grid {
        width: 100%;
        margin: 0 0 8% 0;
        padding: 0;
    }
    .home-social ul li a {
        width: 17px;
        height: 22px;
        background-size: 118%;
    }
    .home-social ul li a.fb1 {
        background-size: 100%;
        width: 20px;
        background-position: 0px 1px;
    }
    .home-social ul li a.be1 {
        background-size: 102%;
        background-position: 0px 2px;
    }
    .home-social ul li a.gg1 {
        width: 22px;
        background-size: 99%;
    }
}


/*--//responsive-design---*/