@font-face {
    font-family: 'Dancing';
    src: url("../fonts/DancingScript-Regular.ttf")
}

@font-face {
    font-family: 'Overlock';
    src: url("../fonts/Overlock-Regular.ttf")
}

body a {
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

/*--header--*/

.hero-background {
    background: url("../images/banner-1600-80.webp") center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: grey;
}

.hero .navbar {
    background-color: rgba(121, 119, 119, 0.49);
}

.navbar-item:hover {
    transform: rotatey(360deg);
    -webkit-transform: rotatey(360deg);
    -o-transform: rotatey(360deg);
    -moz-transform: rotatey(360deg);
    -ms-transform: rotatey(360deg);
    transition: .5s all;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

.bnr-text {
    margin: 34em 0 1em 3em;
}

.bnr-text h4 {
    font-size: 6em;
    font-family: 'Dancing', cursive;
}

a.more {
    font-size: 1em;
    color: #fff;
    border: 3px solid #fff;
    padding: 1em 3em;
}

/*--//header--*/

/*-- contact --*/

.contact {
    padding: 5em 0;
}

.contact-top {
    margin-top: 4%;
}

.contact-top-left iframe {
    width: 100%;
    height: 500px;
    border: 0;
}

.contact-textarea input[type="text"], .contact-textarea input[type="email"] {
    width: 100%;
    color: rgba(137, 136, 136, 0.66);
    outline: none;
    font-size: 14px;
    padding: 18px 16px;
    border: none;
    margin-bottom: 1em;
    -webkit-appearance: none;
    background: none;
    border: 1px solid rgba(153, 153, 153, 0.35);
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
}

.contact-textarea textarea {
    resize: none;
    width: 100%;
    color: rgba(137, 136, 136, 0.66);
    font-size: 14px;
    outline: none;
    padding: 18px 16px;
    border: none;
    min-height: 15em;
    -webkit-appearance: none;
    background: none;
    border: 1px solid rgba(153, 153, 153, 0.35);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}

.contact-textarea button[type="button"], .contact-textarea input[type="reset"] {
    border: none;
    outline: none;
    color: #fff;
    background: #19B0A9;
    width: 48%;
    padding: 15px 31px;
    font-size: 18px;
    margin: 10px 2px 0px 6px;
    -webkit-appearance: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}

.contact-textarea button[type="button"]:hover, .contact-textarea input[type="reset"]:hover {
    background: #70C291;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}

#successmsg, #errormsg {
    border: 1px solid #fff;
    display: none;
    text-align: center;
    padding: 15px 12px 15px;
    margin: 10px 0;
    font-weight: 600;
    margin-bottom: 30px;
}

#successmsg.show, .show {
    display: block;
}

/*-- //contact --*/

/*----copy-right----*/

.email-link {
    color: #FFF;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    text-transform: lowercase;
}

.copy-right {
    text-align: center;
    padding: 2em 0;
    background: #000;
}

.copy-right p {
    font-size: 1em;
    color: #9E9C9C;
    text-transform: capitalize;
}

.copy-right p a {
    color: #fff;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

.copy-right p a:hover {
    color: #FFF;
    text-decoration: underline;
}

/*--- //copy-right ----*/

/*--slider-up-arrow--*/

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 3%;
    right: 3%;
    overflow: hidden;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url("../images/move-up.png") no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*--//slider-up-arrow--*/

/*---- responsive-design -----*/

@media(max-width:1080px) {
    .contact {
        padding: 4em 0;
    }
    .bnr-text {
        margin: 23em 0 1em 3em;
    }
    .bnr-text h4 {
        font-size: 4em;
    }
    .contact-textarea button[type="button"], .contact-textarea input[type="reset"] {
        width: 47.7%;
    }
}

@media(max-width:991px) {
    .bnr-text h2 {
        font-size: 3em;
    }
    .bnr-text {
        margin: 23em 0 1em 3em;
    }
    a.more {
        border: 2px solid #fff;
        padding: 0.8em 2em;
    }
    .bnr-text h4 {
        font-size: 3em;
    }
    .contact {
        padding: 3em 0;
    }
    h3.title {
        margin-bottom: 0.8em;
    }
    .contact-top-left {
        float: left;
        width: 50%;
        padding-left: 0;
    }
    .contact-top-right {
        float: right;
        width: 50%;
        padding-right: 0;
    }
    .contact-textarea button[type="button"], .contact-textarea input[type="reset"] {
        font-size: 15px;
        margin: 10px 2px 0 3px;
    }
}

@media(max-width:768px) {
    h3.title {
        font-size: 2.6em;
    }
}

@media(max-width:640px) {
    .bnr-text {
        margin: 20em 0 1em 1em;
    }
    .bnr-text h2 {
        font-size: 2.8em;
    }
    .bnr-text h4 {
        font-size: 2.5em;
    }
    h3.title {
        font-size: 2.2em;
    }
    a.more {
        border: 1px solid #fff;
        padding: 0.8em 1.5em;
    }
    .contact {
        padding: 2.5em 0;
    }
    .contact-textarea input[type="text"] {
        font-size: .9em;
        padding: 11px 16px;
    }
    .contact-textarea input[type="email"] {
        font-size: .9em;
        padding: 11px 16px;
    }
    .contact-textarea textarea {
        min-height: 13em;
        padding: 11px 16px;
    }
    .contact-textarea button[type="button"], .contact-textarea input[type="reset"] {
        font-size: 13px;
        padding: 10px 31px;
    }
    .contact-textarea button[type="button"], .contact-textarea input[type="reset"] {
        width: 47%;
    }
    .contact-top-left iframe {
        height: 400px;
    }
}

@media(max-width:480px) {
    .bnr-text {
        margin: 27em 0 1em 1em;
    }
    .bnr-text h4 {
        font-size: 1.8em;
    }
    a.more {
        padding: 0.6em 1.2em;
    }
    .contact {
        padding: 2em 0;
    }
    h3.title {
        margin-bottom: 0.6em;
    }
    .contact-top-left {
        float: none;
        width: 100%;
        padding: 0;
    }
    .contact-top-left iframe {
        height: 200px;
    }
    .contact-top-right {
        float: right;
        width: 100%;
        padding: 0;
        margin-top: 2em;
    }
    .copy-right {
        padding: 1.5em 0;
    }
    .copy-right p {
        font-size: .9em;
    }
}

@media(max-width:320px) {
    .bnr-text {
        margin: 14em 0 0 0;
    }
    .bnr-text h2 {
        font-size: 1.8em;
    }
    .bnr-text h4 {
        font-size: 1.8em;
        margin: auto;
    }
    a.more {
        font-size: 0.9em;
    }
    .contact {
        padding: 1.5em 0;
    }
    h3.title {
        font-size: 2em;
    }
    p {
        width: 84%;
    }
    .contact-textarea input[type="text"] {
        font-size: .9em;
        padding: 9px 16px;
    }
    .contact-textarea input[type="email"] {
        font-size: .9em;
        padding: 9px 16px;
    }
    .contact-textarea textarea {
        min-height: 10em;
        padding: 11px 16px;
    }
    .home-social {
        margin: 0.9em 0 0;
    }
    .home-social ul li {
        height: 22px;
        background-size: 118%;
    }
}

/*--//responsive-design---*/